<div class="body-unit">
  <div id="tabs-1">
    <h1>Verify Panel</h1>
  </div>
  <div id="tabs-3">
    <h3>Search</h3>
    <form method="get" action="/verify">
      <b>User ID</b>  <input type="number" id="search" name="search">
      <input type="submit">
    </form><br>
     <% if @user %>
       <% begin %>
         <% searched_user = User.find(@user) %>
         <h2>search result</h2> <br>
           <p><b>First Name:</b> <%= searched_user.personal.first_name %></p>
           <p><b>Middle Name:</b> <%= searched_user.personal.middle_name %></p>
           <p><b>Last Name:</b> <%= searched_user.personal.last_name %></p>
           <p><b>Email:</b> <%= searched_user.email %></p>
           <p><b>Tenth Marks:</b> <%= searched_user.academic.tenth_marks_percent %></p>
           <p><b>Tenth year:</b> <%= searched_user.academic.tenth_year_pass %></p>
           <p><b>Tenth board:</b> <%= searched_user.academic.tenth_board %></p>
           <p><b>HS Marks:</b> <%= searched_user.academic.hs_marks_percent %></p>
           <p><b>HS year:</b> <%= searched_user.academic.hs_year_pass %></p>
           <p><b>HS board:</b> <%= searched_user.academic.hs_board %></p>
           <% a = searched_user.application %>
             <p>Application: <%= a.id %> <%= Stream.find(a.stream_id).stream %></p>
             <% if a.verified %>
               <p><b>Verified</b></p>
             <% else %>
               <form method="get" action="/verify">
                 verified: <input type="checkbox"  name="verified"><br>
                 <input type="hidden" name="search" value="<%= @use %>" >
                 <input type="hidden" name="appid" value="<%= a.id %>" >
                 <input type="submit" value="Verify">
               </form>
              <% end %>
          <% rescue ActiveRecord::RecordNotFound %>
           <p>Result not found</p>
          <%  rescue => e %>
           <%= "Error occured #{e}" %>
        <% end %>
    <% end %>
  </div>
  <div id="tabs-2">
    <h2>Listing all candidates</h2>
    <%= will_paginate @users %>
    <table>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.personal.first_name if user.personal %></td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @users %>
  </div>
</div>
