  <div class="body-unit">
    <div id="tabs-1">
        <h1>User Information</h1>
        <b>ID : </b><%= @user.id %><br>
        <div class="image"><%= image_tag (@user.personal.avatar_url(:thumb)), class: "user-avatar" if @user.personal && @user.personal.avatar %></div>
        <b>email : </b><span class="email-id"><%= @user.email %></span><br>
        <b>created at : </b><%= @user.created_at %><br />
        <% if @user.personal && @user.academic %>
          <a href="javascript:window.print()">print</a>
        <% end %>
    </div>
    <div id="tabs-2">
        <% if @user.personal %>
        <table class="personal-view">
          <tr>
              <th colspan="2"><h2>Personal Details</h2></th>
          </tr>
          <tr><td><b>First Name</b></td><td><%= @user.personal.first_name %></td></tr>
          <tr><td><b>Middle Name</b></td><td><%= @user.personal.middle_name %></td></tr>
          <tr><td><b>Last Name</b></td><td><%= @user.personal.last_name %></td></tr>
          <tr><td><b>Date of Birth</b></td><td><%= @user.personal.date_of_birth %></td></tr>
          <tr><td><b>Gender</b></td><td><%= @user.personal.gender %></td></tr>
          <tr><td><b>Category</b></td><td><%= Category.find(@user.personal.category_id).category %></td></tr>
          <tr><td><b>Blood Group</b></td><td><%= @user.personal.blood_group %></td></tr>
          <tr><td><b>Fathers_name</b></td><td><%= @user.personal.fathers_name %></td></tr>
          <tr><td><b>Mothers_name</b></td><td><%= @user.personal.mothers_name %></td></tr>
        </table>
        <% else %>
          <h4><%= link_to "Fill up your personal details", user_dashboard_new_personal_path, class: " btn-home btn btn-info" %></h4>
        <% end %>
    </div>
    <div id="tabs-3">
     <% if @user.academic %>
     <table>
       <tr>
         <th colspan="2"><h2>Academic Details</h2></th>
       </tr>
       <tr><td colspan="2"><h4>10th Details </h4></td></tr>
       <tr><td><b>Roll No</b></td><td><%= @user.academic.tenth_roll %></td></tr>
       <tr><td><b>Year of passing</b></td><td><%= @user.academic.tenth_year_pass %></td></tr>
       <tr><td><b>Board</b></td><td><%= @user.academic.tenth_board %></td></tr>
       <tr><td><b>Marks Percentage</b></td><td><%= @user.academic.tenth_marks_percent %></td></tr>
       <tr><td colspan="2"><h4>12th Details </h4></td></tr>
       <tr><td><b>Roll No</b></td><td><%= @user.academic.hs_roll %></td></tr>
       <tr><td><b>Year of passing </b></td><td><%= @user.academic.hs_year_pass %></td></tr>
       <tr><td><b>Board </b></td><td><%= @user.academic.hs_board %></td></tr>
       <tr><td><b>Marks Percentage </b></td><td><%= @user.academic.hs_marks_percent %></td></tr>
       <tr><td><b><%= @user.academic.sub1 %></b></td><td><%= @user.academic.sub1_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub2 %></b></td><td><%= @user.academic.sub2_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub3 %></b></td><td><%= @user.academic.sub3_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub4 %></b></td><td><%= @user.academic.sub4_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub5 %></b></td><td><%= @user.academic.sub5_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub6 %></b></td><td><%= @user.academic.sub6_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub7 %></b></td><td><%= @user.academic.sub7_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub8 %></b></td><td><%= @user.academic.sub8_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub9 %></b></td><td><%= @user.academic.sub9_marks %></td></tr>
       <tr><td><b><%= @user.academic.sub10 %></b></td><td><%= @user.academic.sub10_marks %><br></td></tr>
     </table>
     <% else %>
       <h4><%= link_to "Fill up your Academic details", user_dashboard_new_academic_path, class: "btn-home btn btn-info" %></h4>
     <% end %>
    </div>
    <div id="tabs-4">
      <% begin %>
        <!-- This portion needs to be refactored since violation of mvc -->
        <% if @user.application %>
          <h4>Application no <%= @user.application.id %> <%= Stream.find(@user.application.stream_id).stream %></h4>
        <% else %>
          <h4>Click on the subject you like opt</h4>
           <% @streams.where(subject_stream_id: @user.academic.subject_streams_id).each do |s| %>
             <% if @user.academic &&  @user.personal &&
              @user.academic.hs_marks_percent >= Cutoff.find_by(category_id: @user.personal.category_id, stream_id: s.id).cutoff_marks %>
               <%= form_for([@user, Application.new]) do |f| %>
                 <%= f.hidden_field :user_id, :value => @user.id %>
                 <%= f.hidden_field :stream_id, :value => s.id %>
                 <%= f.submit s.stream , data: {confirm: "Are you sure application once submitted cant be modified ?"}%>
              <% end%>
             <% end %>
           <% end %>
        <% end %>
        <% if Rank.exists? %>
          <p>Results declared <%= link_to "results", streams_path %></p>
        <% end %>
        <% rescue => e %>
          <% "Error occured #{e}" %>
        <% end %>
      </div>
  </div>
