<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My College Admission</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <% if user_signed_in? && is_admin? %>
            <%= link_to "Control Panel", controlpanel_path %>
          <% elsif user_signed_in? && is_verifier? %>
            <%= link_to "Verfier", verify_path %>
          <% elsif user_signed_in? %>
            <%= link_to "Home", home_path %>
          <% end %>
        </li>
        <li>
          <%= link_to "Results", streams_path if Rank.exists? %>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/help">Help</a></li>
          <li><a href="/contact">Contact</a></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Change your password", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", signout_path, :method => :delete , data: {confirm: "sure to signout ?"}%></li>
              </ul>
            </li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
